
<ion-footer>
<ion-toolbar>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="upload">
      <ion-icon name="camera"></ion-icon>
      camera
    </ion-tab-button>
    <ion-tab-button tab="patient">
      <ion-icon name="person"></ion-icon>
      Patient
    </ion-tab-button>
    <ion-tab-button tab="file">
      <ion-icon name="heart"></ion-icon>
      upload
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> 
 
</ion-toolbar>
</ion-footer>