<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header >
  <div class="slides">
    <swiper-container  
    [slidesPerView] ='1'

    [autoplay]="{
      delay: 2000,
      disableOnInteraction: false,
    pauseOnMouseEnter: false,
    stopOnLastSlide: false,
    waitForTransition: true
  }"
  modules={[Autoplay]}
    [pagination]="{dynamicBullets:true,clickable:true}"
    [centeredSlides]="true"
     [loop]="true"
    >
      <swiper-slide>
        
        <ion-card class="my-custom-card">
        <!-- Card content goes here -->
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's  for the card content. 
        </ion-card-content>
      </ion-card>
</swiper-slide>
      <swiper-slide>
        <ion-card class="my-custom-card-b">
          <!-- Card content goes here -->
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's  for the card content. 
          </ion-card-content>
        </ion-card>
        
      </swiper-slide>
      <swiper-slide>  <ion-card class="my-custom-card-c">
        <!-- Card content goes here -->
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's  for the card content. 
        </ion-card-content>
      </ion-card></swiper-slide>
    </swiper-container>

  </div>

  <ion-button class="button"(click)="logout()"shape="round">
    Logout
    </ion-button>
  
</ion-content>
<app-bottom-bar></app-bottom-bar>
